nav{
    background-color: steelblue;
    padding: 10px;
}

main{
    max-width: 800px;
}
nav a{
    color: white;
    display: block;
    padding: 20px;
}

h1{
    color: steelblue;
}

main img{
    width: 150px;
    height: auto;
    border: 1px soild steelblue;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0 0 30px gray;
}
p{
    padding: 10px;
}

aside{

}